html {
  height: -webkit-fill-available;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

#mySidebar {
  width: 280px;
  display: block;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

#main {
  margin-left: 280px;
  /* background-color: var(--secondary); */
  height: 100vh;
}

#openNav{
  font-size: 2.5rem;
  background-color: transparent;
  cursor: pointer;
}
.sideBar{
  color: white;
  background-color:var(--primary);
}
.sideBar ul li ion-icon{
  font-size: 2.5rem;
  margin-right: 7px;
}

.sideBar ul li span{
  font-size: 1.5rem;
}

.sideBar-btn:hover, .sideBar-btn .activate{
  color: var(--primary);
  background-color: var(--secondary);
  border-radius: 5px;
}
.sideBar-btn-text{
  display: block;
}
