html {
  height: -webkit-fill-available;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

#mySidebar {
  width: 280px;
  display: block;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

#main {
  margin-left: 280px;
}