html {
  height: -webkit-fill-available;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  overflow: hidden;
}

/* ======== side bar ========= */
#mySidebar {
  width: 280px;
  display: block;
  height: 100vh;
  overflow: hidden;
}

#main {
  margin-left: 280px;
  /* width: calc(100%-280px); */
  /* background-color: var(--secondary); */
  height: 100vh;
}


@media only screen and (max-width: 768px) {
  
  body{
    overflow:scroll;
  }
  #mySidebar {
    width: 80px;
    display: block;
    height: 100vh;
    overflow-y: scroll;
  }
  
  #main {
    margin-left: 80px;
    /* width: calc(100%-280px); */
    /* background-color: var(--secondary); */
    height: 100vh;
  }

  #mySidebar .sideBar-btn-text{
    display:none;
  }

  #user-name{
    display: none;
  }
  
}


#openNav{
  font-size: 2.5rem;
  background-color: transparent;
  cursor: pointer;
}
.sideBar{
  color: white;
  background-color:var(--primary);
}
.sideBar ul li ion-icon{
  font-size: 2.5rem;
  margin-right: 7px;
}

.sideBar ul li span{
  font-size: 1.5rem;
}

.sideBar-btn:hover, .activate{
  color: var(--primary);
  background-color: var(--secondary);
  border-radius: 5px;
  margin: 3px;
}
.sideBar-btn-text{
  display: block;
}

/* ======== Nav Bar Changes =========== */
#project-name{
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary);
  text-shadow: 2px 2px 4px #edd7d8e3;
}

/* ========== show hide ============ */
.show{
  display: block;
}

.hide{
  display: none;
}
