

html {
    height: -webkit-fill-available;
  }
  
  body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    overflow: hidden;
  }
  

  
  :root {
    --primary: #2F3C7E;
    --secondary: #FBEAEB;
    --darker-primary: #1D2561;
    --lighter-secondary: #FDF6F7;
    --accent-color: #1F8A70;
    --accent-color2: #93e017;
    --accent-color3: #e36d24;
    
  }
  
  /* ======== side bar ========= */
  #mySidebar {
    width: 280px;
    display: block;
    height: 100vh;
    overflow-x: hidden;
  }
  
  #main {
    margin-left: 280px;
    /* width: calc(100%-280px); */
    /* background-color: var(--secondary); */
    height: 100vh;
  }
  
  /* #project-details{
    color: var();
  } */
  
  @media only screen and (max-width: 768px) {
    
    body{
      overflow:scroll;
    }
    #mySidebar {
      width: 80px;
      display: block;
      height: 100vh;
      overflow-y: scroll;
    }
    
    #main {
      margin-left: 80px;
      /* width: calc(100%-280px); */
      /* background-color: var(--secondary); */
      height: 100vh;
    }
  
    #mySidebar .sideBar-btn-text{
      display:none;
    }
  
    #user-name{
      display: none;
    }
    #project-details{
      display: none;
    }
    
  }
  
  
  #openNav{
    font-size: 2.5rem;
    background-color: transparent;
    cursor: pointer;
  }
  .sideBar{
    color: white;
    background-color:var(--darker-primary);
  }
  .sideBar ul li ion-icon{
    font-size: 2.5rem;
    margin-right: 7px;
  }
  
  .sideBar ul li span{
    font-size: 1.5rem;
  }
  
  .sideBar-btn:hover{
    color: var(--primary);
    background-color: var(--lighter-secondary);
    border-radius: 5px;
    margin: 3px;
  } 
  .sideBar-btn:active,
  .activate{
    color: var(--primary);
    background-color: var(--secondary);
    border-radius: 5px;
    margin: 3px;
  }
  .sideBar-btn-text{
    display: block;
  }
  
  /* ======== Nav Bar Changes =========== */
  #project-name{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary);
    text-shadow: 2px 2px 4px #edd7d8e3;
  }
  
  /* ========== show hide ============ */
  .show{
    display: block;
  }
  
  .hide{
    display: none;
  }





/* ========== active button  ============ */
  
.toggle-button-cover {
  display: table-cell;
  position: relative;
  width: 200px;
  height: 140px;
  
}

.button-cover {
  height: 100px;
}

.button-cover:before {
  position: absolute;
}

.button-cover,
.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  position: relative;
  top: 10%;
  width: 74px;
  height: 36px;
  margin-left: 10px;
  overflow: hidden;
}

.button.r,
.button.r .layer {
  border-radius: 100px;
}

.button.b2 {
  border-radius: 12px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: #ebf7fc;
  transition: 0.3s ease all;
  z-index: 1;
}
  #button-3 .knobs:before {
    /*=== deactive ===*/
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 30px;
    height: 30px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding-top:10px ;
    background-color: var(--accent-color3);
    border-radius: 50%;
    transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
  }
  
  #button-3 .checkbox:active + .knobs:before {
    width: 46px;
    border-radius: 100px;
  }
  
  #button-3 .checkbox:checked:active + .knobs:before {
    margin-left: -26px;
  }
  
  #button-3 .checkbox:checked + .knobs:before {
    /*=== active ===*/
    content: "";
    left: 42px;
    background-color: var(--accent-color);
  }
  
  #button-3 .checkbox:checked ~ .layer {
    background-color: var(--lighter-secondary);
  }


