
* {
    margin: 0px;
    padding: 0px;
}


#main{
    margin-top: 80px;
}
:root {
    --primary: #2F3C7E;
    --secondary: #FBEAEB;
    --darker-primary: #1D2561;
    --lighter-secondary: #FDF6F7;
    --accent-color: #1F8A70;
    --accent-color2: #93e017;
    --accent-color3: #e36d24;

}
.footer{
    display: block;

}
.card-content{
    background-color: white;
    height: auto;
    border: none;
 }
  img{

     width: 350px;
      align-items: center;
      justify-content: center;
      overflow: hidden;
 }
.heading{
    text-align: center;
    font-size: 50px;
    margin: 0px;
    padding: 0px;
    letter-spacing: .25em;
}
.card-img-top{
    margin-bottom: 100px;
}
.card-profile{
    border-radius: 0;
    cursor: pointer;
}
.card-profile:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}
.card-profile-body{
    margin-top: -50px;
}
.card-title{
    text-align: center;
}.card-title-service{
    color: midnightblue;
    text-align: center;
 }
.card-text{
    text-align: center;
}
.content-btn {
    border:3px solid #000;
    color:#000;
    font:12px Montserrat;
    text-transform:uppercase;
    padding:10px;
    font-weight:600;
    max-width:250px; /* max width of button */
    display:block;
    text-align:left;
    margin:10px auto;
    position:relative;
}
.content-btn:before {
    content:">";
    position:absolute;
    right:0;
    top:0;
    background:#000;
    color:#fff;
    font-size:20px;
    width:35px;
    height:100%;
    line-height:31px;
    text-align:center;
    font-family:consolas;
    padding-right:15px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.content-btn:hover:before {
    padding-right:0;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.content-btn:hover {
    background:yellow;
    border-color:#000;
    color:#000;
}
/*=====back to top button====-*/
.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}

/* Define the hover effect class */



/*=====flyer part ====-*/



body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}
.clear {
    clear: both;
}
img {
    max-width: 100%;
    border: 0px;
}



h3 {
    margin: 0 0 10px;
    font-size: 28px;
    line-height: 36px;
}


/******* Middle section CSS Start ******/
/* -------- Landing page ------- */
.game-section {
    padding: 60px 50px;
}
.game-section .owl-stage {
    margin: 15px 0;
    display: flex;
}
.game-section .item {
    margin: 0 15px 60px;
    width: 320px;
    height: 400px;
    display: flex;
    display: -webkit-flex;
    align-items: flex-end;
    background: #343434 no-repeat center center / cover;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}
.game-section .item.active {
    width: 500px;
    box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);

}
.game-section .item:after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}
.game-section .item-desc {
    padding: 0 24px 12px;
    color: #fff;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transform: translateY(calc(100% - 30px));
    transition: all 0.4s ease-in-out;
}
.game-section .item.active .item-desc {
    transform: none;
}
.game-section .item:hover .item-desc  {
    transform: none;
    transform: translateY(-10%);

}
.game-section .item-desc p {
    opacity: 1;
    transform: translateY(10px);
    transition: all 0.4s ease-in-out 0.2s;
    -webkit-transition: all 0.4s ease-in-out 0.2s;
}
.game-section .item.active .item-desc p {
    opacity: 1;
    transform: translateY(0);
}

.game-section .item:hover {
    width: 500px; /* Adjust the width as needed */
    box-shadow: 12px 40px 40px rgba(1, 18, 255, 0.25);
}
.item-button {
    display: none;
    background: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    margin-top: 50px;

    left: 50%;
    transform: translate(-50%, -50%);
}


.item-desc {
    position: relative;
    z-index: 1;
    overflow: hidden;
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
}
.item:hover .item-desc {
    transform: translateY(-50px);
}
.item:hover .item-button {
    display: block;
}

.item:hover .item-button {
    display: block;
}
.game-section .owl-theme.custom-carousel .owl-dots {
    margin-top: -20px;
    position: relative;
    z-index: 5;
}


/*
----------------*/

@media (max-width: 767px) {
    body {
        font-size: 14px;
    }
    h2 {
        margin-bottom: 20px;
    }
    h3 {
        margin: 0 0 8px;
        font-size: 19px;
        line-height: 24px;
    }
    .line-title {
        width: 250px;
    }

    /* -------- Landing page ------- */
    .game-section {
        padding: 30px 15px 20px;
    }
    .game-section .item {
        margin: 0 10px 40px;
        width: 200px;
        height: 280px;
    }
    .game-section .item.active {
        width: 270px;
        box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);

    }
    .game-section .item-desc {
        padding: 0 14px 5px;
        transform: translateY(calc(100% - 42px));

    }
}
