#main{
    margin-top: 80px;
}
:root {
    --primary: #2F3C7E;
    --secondary: #FBEAEB;
    --darker-primary: #1D2561;
    --lighter-secondary: #FDF6F7;
    --accent-color: #1F8A70;
    --accent-color2: #93e017;
    --accent-color3: #e36d24;

}
.footer{
    display: block;

}
.card-content{
    background-color: white;
    height: 300px;
    border: none;
 }
  img{
     height: 350px;
     width: 350px;
      align-items: center;
      justify-content: center;
      overflow: hidden;
 }
.heading{
    text-align: center;
    font-size: 50px;
    margin: 0px;
    padding: 0px;
    letter-spacing: .25em;
}
.card-img-top{
    margin-bottom: 100px;
}
.card-profile{
    border-radius: 0;
    cursor: pointer;
}
.card-profile:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}
.card-profile-body{
    margin-top: -50px;
}
.card-title{
    text-align: center;
}.card-title-service{
    color: midnightblue;
    text-align: center;
 }
.card-text{
    text-align: center;
}
.content-btn {
    border:3px solid #000;
    color:#000;
    font:12px Montserrat;
    text-transform:uppercase;
    padding:10px;
    font-weight:600;
    max-width:250px; /* max width of button */
    display:block;
    text-align:left;
    margin:10px auto;
    position:relative;
}
.content-btn:before {
    content:">";
    position:absolute;
    right:0;
    top:0;
    background:#000;
    color:#fff;
    font-size:20px;
    width:35px;
    height:100%;
    line-height:31px;
    text-align:center;
    font-family:consolas;
    padding-right:15px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.content-btn:hover:before {
    padding-right:0;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.content-btn:hover {
    background:yellow;
    border-color:#000;
    color:#000;
}
/*=====back to top button====-*/
.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}

/* Define the hover effect class */
.hover-effect {
    background-color: #7eb224; /* Change to the desired background color on hover */
    transition: background-color 0.3s ease; /* Add a smooth transition */
    color: #fff; /* Change to the desired text color on hover */
}



.bi{
    font-size: 25px;
}
@media only screen and (max-width: 600px) {
    .card-img-top{

        left: 48px !important;

    }
}