.bgimg {
	background-image: url('../images/register_form/cover_new.jpg');
	min-height: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}
.bgimg::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.353);
}


.header{
	display: flex;
	justify-content: center;
	width: 200%;
}
.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100%;
}

.screen {		
	background: white;		
	position: relative;	
	height: flex;
	width: 360px;	
	box-shadow: 0px 0px 24px #5C5696;
}

.screen__content {
	z-index: 1;
	position: relative;	
	height: 100%;
}

.screen__background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
}

.register {
	width: 320px;
	padding: 50px;
	padding-top: 50px;
}

.register__field {
	position: center;
    padding: 50px;
}

.register__icon {
	position: absolute;
	top: 80px;
	color: #7875B5;
}

.button__text{
	padding-left: 40%;
}

