@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	font-family: Raleway, sans-serif;
}
.bgimg {
	background-image: url('../images/register_form/cover_new.jpg');
	min-height: 100%;
	background-position: center;
	background-size: cover;
  }
body {
	background: linear-gradient(90deg, #C7C5F4);		
}

.header{
	display: flex;
	justify-content: center;
	width: 200%;
}
.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 80vh;
}

.screen {		
	background: white;		
	position: relative;	
	height: flex;
	width: 360px;	
	box-shadow: 0px 0px 24px #5C5696;
}

.screen__content {
	z-index: 1;
	position: relative;	
	height: 100%;
}

.screen__background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
}

/* .screen__background__shape {
	transform: rotate(45deg);
	position: absolute;
}

.screen__background__shape1 {
	height: 520px;
	width: 520px;
	background: #FFF;	
	top: -50px;
	right: 120px;	
	border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
	height: 220px;
	width: 220px;
	background: #6C63AC;	
	top: -172px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape3 {
	height: 540px;
	width: 190px;
	background: linear-gradient(270deg, #5D54A4, #6A679E);
	top: -24px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape4 {
	height: 400px;
	width: 200px;
	background: #7E7BB9;	
	top: 420px;
	right: 50px;	
	border-radius: 60px;
} */

.register {
	width: 320px;
	padding: 50px;
	padding-top: 50px;
}

.register__field {
	position: center;
    padding: 50px;
}

.register__icon {
	position: absolute;
	top: 80px;
	color: #7875B5;
}

.button__text{
	padding-left: 40%;
}

